<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Rydr</title>
</head>
<body>
    <div>
        <h2>Hi {{userName}},</h2>
        <div style="margin-left: 25px;">
            <p>Thank you for joining Rydr as a Captain! We’re thrilled to have you on board.</p>
            <p>
                With Rydr, you will have the opportunity to earn more, drive smarter, and connect with thousands of riders looking for a safe and reliable trip.
            </p>
            <p>To get started, please confirm your email by clicking the button below:</p>
            <span>👉</span> <a href = "{{verificationLink}}">Verify Your Email</a>
            <b>This link is active for only 10 minutes.</b>
            <p>Once verified, you can log in to your Captain Dashboard, set up your profile, and start accepting ride requests.</p>
            <p>If you didn’t sign up, you can ignore this email.</p>
            <p>If you have any questions, our support team is here to help!</p>
            </div>
        <p>Drive Safe & Earn More!</p>
        <p>The Rydr Team 🚘</p>
    </div>
</body>
</html>