<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Request</title>
</head>
<body>
    <div>
        <h2>Hi {{userName}},</h2>
        <div style="margin-left: 25px;">
            <p>We received a request to reset your password, please click the link below to reset your password:</p>
            <span>👉</span> <a href = "{{verificationLink}}">Reset Password</a>
            <b>This link is active for only 10 minutes.</b>
            <p>If you have any questions, feel free to reach out to our support team.</p>
            <p>If you didn’t sent this request, you can ignore this email.</p>
        </div>
        <p>Best regards,</p>
        <p>The Rydr Team</p>
    </div>
</body>
</html>