<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Rydr</title>
</head>
<body>
    <div>
        <h2>Hi {{userName}},</h2>
        <div style="margin-left:25px;">
            <h4>Welcome to Rydr! We are exicted to have you on board 🚀</h4>
            <p>
                With Rydr, booking a ride is now easier and faster than ever. 
                Whether you're heading to work, meeting friends, or exploring the city, we've got you covered.
            </p>
            <p>If you have any questions, feel free to reach out to our support team.</p>
            <p>See you on the road! 🚖</p>
            </div>
        <p>Best regards,</p>
        <p>The Rydr Team</p>
    </div>
</body>
</html>